// Code
//
// .highlight
//
// markup:
// <figure class="highlight js"><table><tr><td class="code"><pre><span class="line"><span class="keyword">var</span> handler = <span class="function"><span class="keyword">function</span><span class="params">(e)</span> </span>&#123;</span><br><span class="line">    e.preventDefault();</span><br><span class="line"></span><br><span class="line">    <span class="built_in">console</span>.log(<span class="string">'event'</span>);</span><br><span class="line">&#125;;</span><br><span class="line"></span><br><span class="line"><span class="comment">// Подписаться на событие</span></span><br><span class="line">Dega(<span class="built_in">document</span>).on(<span class="string">'click'</span>, <span class="string">'.link'</span>, handler);</span><br><span class="line"></span><br><span class="line"><span class="comment">// Отписаться от события</span></span><br><span class="line">Dega(<span class="built_in">document</span>).off(<span class="string">'click'</span>, <span class="string">'.link'</span>, handler);</span><br></pre></td></tr></table></figure>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="post -no-padding-top">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 4.2

.highlight {
    line-height: 24px;

    margin: $vR * 5 auto $vR * 5 - 1 auto;
    padding: $vR * 2 - 2px $vR * 2 $vR + 2;

    figcaption {
        font-size: $fontCode;

        margin-bottom: $vR * 2;
        padding: 0 0 $vR + 4 0;

        opacity: .8;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

.highlight pre {
    font-size: $fontCode;

    margin: 0;

    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    font-size: $fontCode;

    color: #657b83;
    background: $colorCodeBG;

    -webkit-text-size-adjust: none;

    padding: $vR;
}

@media screen and (max-width: 520px) {
    .highlight {
        margin: ($vR * 4) auto ($vR * 4 - 1) auto;
    }
}
