<div class="page-row">
    <div class="footer clearfix -main">

        <% if (page.prev || page.next) { %>
        <div class="footer__post-switcher">

            <% if (page.next) { %>
                <a href="/<%- page.next_link %>" class="footer__post-switcher-link -prev">
                    <span class="footer__post-switcher-direction">Older</span>
                </a>
            <% } else { %>
                <a class="footer__post-switcher-link -empty -prev"></a>
            <% } %>

            <% if (page.prev) { %>
                <a href="/<%- page.prev_link %>" class="footer__post-switcher-link -next">
                    <span class="footer__post-switcher-direction">Newer</span>
                </a>
            <% } else { %>
                <a class="footer__post-switcher-link -empty -next"></a>
            <% } %>

        </div>
        <% } %>

        <%- partial('_partial/footer/footer-common') %>
    </div>
</div>
