<div class="posts-list__item">
    <div class="posts-list__item-info">
        <%- partial('_partial/post-list/_date', { postDate: post.date }) %>
        <%- partial('_partial/post-list/_tags-list', { tags: post.tags }) %>
    </div>
    <div class="posts-list__item-desc">
        <blockquote class="quote"><%- post.content %></blockquote>
    </div>
</div>
