<%- post.content %>

<section class="section -narrow -bottom">
    <div class="share">
        <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= page.permalink %>"
           class="share__item"
           target="_blank"><i class="icon icon-social-twitter-outline"></i> twitter
        </a>
    </div>
</section>
