// Other
//
// Styleguide 8

// Section
//
// Styleguide 8.1

// Section bottom
//
// .section.-narrow.-bottom
//
// markup:
// <section class="section -narrow -bottom">
//    <div
//    class="post-contacts">Все вопросы можно задать по <a href="mailto:d4rkr00t@gmail.com">почте</a> или в <a href="https://twitter.com/d4rkr00t">твиттере</a>.</div>
// </section>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="post -no-padding-top">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 8.1.1

.section {
    letter-spacing: 0.159999996423721px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &.-narrow {
        max-width: $narrowContMaxWidth;
        margin: 0 auto;
    }

    &.-bottom
    {
        margin-top: $blockSepSpace;

        border-top: 1px solid rgba(0, 0, 0, .15);
    }
}

.section-divider {
    display: block;

    width: 144px;
    margin: $blockSepSpace - 1 auto $blockSepSpace - 2 auto;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .15);
}
