<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#2b2b2b" />
    <meta name="description" content="{{ desc }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ desc }}" />
    {% if image %}
    <meta property="og:image" content="{{ [page.url, image] | ogImage }}" />
    {% endif %}
    <meta property="og:url" content="{{ page.url }}" />

    <link rel="icon" sizes="256x256" href="/favicon_256.png" />
    <link rel="apple-touch-icon" href="/favicon_256.png" />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{ title }} | Stanislav Sysoev</title>
  </head>
  <body>
    <div class="generic-section -small-top-padding">
      <div class="blog-post-nav">
        <a href="/" class="blog-post-nav__back">←</a>
      </div>
    </div>
    <section class="generic-section" role="main">
      <article class="blog-post">
        <h1>
          <span class="inline-with-bg">{{ title }}</span>
        </h1>
        {{ content | safe }}
      </article>
      <div class="blog-post-links">
        <a
          href="{{ page.url | discussTwitter }}"
          class="blog-post-links__button"
          >Discuss on Twitter</a
        >
        <a
          href="https://github.com/d4rkr00t/sysoev.org/edit/master/{{
            page.inputPath
          }}"
          class="blog-post-links__button"
          >Edit on GitHub</a
        >
      </div>
    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-9621040-14"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-9621040-14");
    </script>
  </body>
</html>
