// Variables
//
// Styleguide 1.0

// Fonts
//
// Styleguide 1.2

// Fonts Families
//
// markup:
// <p style="font-family: $fontTitle"> fontTitle: $fontTitle </p>
// <p style="font-family: $fontDefault"> fontDefault: $fontDefault </p>
//
// Styleguide 1.2.1
$fontDefault: Georgia, Cambria, 'Times New Roman', Times, serif;
$fontTitle: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Fonts Sizes
//
// markup:
// <p style="font-size: $fontBase"> fontBase: $fontBase </p>
// <p style="font-size: $fontMiddle"> fontMiddle: $fontMiddle </p>
// <p style="font-size: $fontSmall"> fontSmall: $fontSmall </p>
// <p style="font-size: $fontTiny"> fontTiny: $fontTiny </p>
// <p style="font-size: $fontTiniest"> fontTiniest: $fontTiniest </p>
// <p style="font-size: $fontCode"> fontCode: $fontCode </p>
//
// Styleguide 1.2.2
$fontBase: 21px;
$fontMiddle: 18px;
$fontSmall: 16px;
$fontTiny: 14px;
$fontTiniest: 12px;
$fontCode: 16px;

// styleguide:ignore:start
$vR: 8px;
$lineHeight: $vR * 4; // 32

/**
 * Titles H1 - H3
 */
$fontH1: $fontBase * 2.7272727;
$fontH2: $fontBase * 1.6363636;
$fontH3: $fontBase * 1.4545454;
$fontH4: $fontBase * 1.2;

$titleDivider: 1.1;

/**
 * Space between blocks
 */
$blockSepSpace: $vR * 8;
$blockSepSpaceDivider: 2;
// styleguide:ignore:end

// Colors
//
// Styleguide 1.1

// Base colors
//
// This section describes base colors:
//
// markup:
// <div style="background: $golden" class="styleguide-color">golden</div>
// <div style="background: $fuscousGrey" class="styleguide-color">fuscousGrey</div>
// <div style="background: $liver" class="styleguide-color">liver</div>
//
// Styleguide 1.1.1
$golden: #F7C04F;
$fuscousGrey: #3C373D;
$liver: #514753;

// Specific colors
//
// markup:
// <div style="background: $colorText" class="styleguide-color">colorText</div>
// <div style="background: $colorLightText" class="styleguide-color">colorLightText</div>
// <div style="background: $colorSubTitle" class="styleguide-color">colorSubTitle</div>
// <div style="background: $colorLink" class="styleguide-color">colorLink</div>
// <div style="background: $colorLinkHover" class="styleguide-color">colorLinkHover</div>
// <div style="background: $colorCodeBG" class="styleguide-color">colorCodeBG</div>
// <div style="background: $colorFooterBg" class="styleguide-color">colorFooterBg</div>
//
// Styleguide 1.1.2
//
$colorText: darken(#69606B, 3);
$colorLightText: #69606B;
$colorSubTitle: rgba(0, 0, 0, .44);

$colorLink: $colorLightText;
$colorLinkHover: $golden;

$colorCodeBG: #FAFAFA;

$colorFooterBg: $fuscousGrey;

// styleguide:ignore:start
$mainContMaxWidth: 1120px;
$mainContMinWidth: 320px;
$narrowContMaxWidth: 700px;
// styleguide:ignore:end
