// Images
//
// .img — image
//
// Styleguide 4.3

// Image full width
//
// markup:
// <section class="img">
//     <a class="lightbox-target" href="/img/img1.jpg" data-size="1920x1200"><img src="/img/header.jpg" alt=""></a>
// </section>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="post -no-padding-top">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 4.3.1

// Image with description
//
// markup:
//<section class="img">
//    <div class="img__img-cont">
//        <a class="lightbox-target" href="/img/header.jpg" data-size="1920x1200" data-desc="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa ipsum quia nam, dicta saepe mollitia assumenda placeat aliquam corporis, recusandae id tenetur architecto?"><img src="/img/header.jpg" alt=""></a>
//    </div>
//    <div class="img__desc">
//        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa ipsum quia nam, dicta saepe mollitia assumenda placeat aliquam corporis, recusandae id tenetur architecto?
//    </div>
//</section>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="post -no-padding-top">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 4.3.2

.img {
    position: relative;

    margin: $blockSepSpace auto $blockSepSpace auto;

    text-align: center;

    img {
        max-width: 100%;
    }

    &__img-cont {
        padding-right: 300px;
    }

    &__desc {
        position: absolute;
        top: $vR * 2;
        right: 0;

        width: 300 - 18px;

        text-align: left;

        color: $colorLightText;

        font-family: $fontTitle;
        font-size: $fontSmall;
        line-height: $vR * 3;

        &:before {
            position: absolute;
            top: -($vR * 2);
            left: 0;

            width: 80px;

            content: "";

            border-top: 1px solid rgba(0, 0, 0, .15);
        }
    }
}

@media screen and (max-width: 940px) {
    .img {

        &__img-cont {
            padding-right: 0;
        }

        &__desc {
            position: relative;
            top: 0;
            right: 0;

            width: 100%;
            margin: $vR auto 0;

            &:before {
                display: none;
            }
        }
    }
}
