.img {
    position: relative;

    margin: $vR * 8 auto $vR * 8 auto;

    img {
        max-width: 100%;
    }

    &__img-cont {
        padding-right: 300px;
    }

    &__desc {
        position: absolute;
        top: $vR * 2;
        right: 0;

        width: 300 - 18px;

        color: $colorLightText;

        font-family: $fontTitle;
        font-size: $fontSmall;
        line-height: $vR * 3;

        &:before {
            position: absolute;
            top: -($vR * 2);
            left: 0;

            width: 80px;

            content: "";

            border-top: 1px solid rgba(0, 0, 0, .15);
        }
    }
}

@media screen and (max-width: 940px) {
    .img {

        &__img-cont {
            padding-right: 0;
        }

        &__desc {
            position: relative;
            top: 0;
            right: 0;

            width: 100%;
            margin: $vR auto 0;

            &:before {
                display: none;
            }
        }
    }
}
