.b-image-and-text {
    @include background-size(cover);
    overflow: hidden;
    background-attachment: fixed;

    .e-text {
        position: relative;
        top: 50%;
        margin-top: -40px;
        height: 50px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 4em;
        font-family: $headingFF;
        line-height: 50px;

        .e-sub {
            margin-top: 12px;
            font-weight: 100;
            font-size: 0.6em;
            font-family: $headingFF;
        }
    }

    &.m-first {
        background: url('../blocks/b-image-and-text/img/first.jpg') fixed no-repeat;
        height: 550px;
    }

    &.m-second {
        background: url('../blocks/b-image-and-text/img/second.jpg') fixed no-repeat;
        height: 550px;
    }

    &.m-three-lines {

        .e-text {
            margin-top: -65px;
        }
    } /* &.m-three-lines */
} /* .b-image-and-text */

@media screen and (max-width: 1124px) {

    .b-image-and-text {

        .e-text {
            margin-top: -80px;
        }
    } /* .b-image-and-text */
} /* @media screen and (max-width: 1124px) */


@media screen and (max-width: 1043px) {

    .b-image-and-text.m-three-lines {

        .e-text {
            margin-top: -100px;
        }
    } /* &.m-three-lines */
} /* @media screen and (max-width: 1124px) */

@media screen and (max-width: 792px) {

    .b-image-and-text.m-three-lines {

        .e-text {
            margin-top: -135px;
        }
    } /* &.m-three-lines */
} /* @media screen and (max-width: 1124px) */

@media screen and (max-width: 728px) {

    .b-image-and-text.m-three-lines {

        .e-text {
            margin-top: -160px;
        }
    } /* &.m-three-lines */
} /* @media screen and (max-width: 1124px) */

@media screen and (max-width: 580px) {

    .b-image-and-text.m-three-lines {

        .e-text {
            margin-top: -180px;
        }
    } /* &.m-three-lines */
} /* @media screen and (max-width: 1124px) */

@media screen and (max-width: 530px) {

    .b-image-and-text.m-three-lines {

        .e-text {
            margin-top: -200px;
        }
    } /* &.m-three-lines */
} /* @media screen and (max-width: 1124px) */

@media screen and (max-width: 490px) {

    .b-image-and-text {

        .e-text {
            margin-top: -140px;
            width: 460px;

            .e-sub {
                width: 460px;
            }
        }
    } /* .b-image-and-text */
} /* @media screen and (max-width: 1124px) */