// Footer
//
// Styleguide 7

// Footer main
//
// .footer.-main
//
// markup:
// <div class="footer clearfix -main">
//     <div class="footer__post-switcher">
//         <a href="#" class="footer__post-switcher-link -prev">
//             <span class="footer__post-switcher-direction">Older</span>
//         </a>
//         <a href="#" class="footer__post-switcher-link -next">
//             <span class="footer__post-switcher-direction">Newer</span>
//         </a>
//     </div>
//     <div class="footer__nav">
//         <ul class="nav">
//             <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//             <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon icon-ios-search-strong"></i></a></li>
//         </ul>
//     </div>
//     <div class="clearfix"></div>
//     <div class="footer__copyright">
//         Copyright &copy; by Stanislav Sysoev.
//     </div>
// </div>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="page-row">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 7.1

// Footer post
//
// .footer
//
// markup:
// <div class="footer clearfix -main">
//     <div class="footer__post-switcher">
//         <a href="#" class="footer__post-switcher-link -prev">
//             <span class="footer__post-switcher-direction">Previous post</span>
//             <span class="footer__post-switcher-title">Знакомимся с Meteor</span>
//         </a>
//         <a href="#" class="footer__post-switcher-link -next">
//             <span class="footer__post-switcher-direction">Next post</span>
//             <span class="footer__post-switcher-title">Firefox и position: relative на ячейки таблицы</span>
//         </a>
//     </div>
//     <div class="footer__nav">
//         <ul class="nav">
//             <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//             <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon icon-ios-search-strong"></i></a></li>
//         </ul>
//     </div>
//     <div class="clearfix"></div>
//     <div class="footer__copyright">
//         Copyright &copy; by Stanislav Sysoev.
//     </div>
// </div>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="page-row">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 7.2

// Footer without nav
//
// .footer.-main
//
// markup:
// <div class="footer clearfix -main">
//     <div class="footer__nav">
//         <ul class="nav">
//             <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//             <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//             <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon icon-ios-search-strong"></i></a></li>
//         </ul>
//     </div>
//     <div class="clearfix"></div>
//     <div class="footer__copyright">
//         Copyright &copy; by Stanislav Sysoev.
//     </div>
// </div>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="page-row">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 7.3

.footer {
    margin-top: $vR * 7;

    color: rgba(#fff, .4);
    background: $colorFooterBg;

    font-family: $fontTitle;

    word-break: break-word;

    &__nav {
        padding: $vR * 4 0 $vR * 2;

        text-align: center;
    }

    &__copyright {
        padding: 0 0 $vR * 4 0;

        text-align: center;

        font-size: $fontTiny;
        font-weight: normal;
    }

    &__post-switcher {
        display: table;

        width: 100%;
        min-width: 160px;

        border-spacing: 0;

        border: 0;
        border-collapse: collapse;
        background: #fff;

        &-link {
            display: table-cell;

            width: 50%;
            padding: $vR * 6;

            transition: transform .1s;
            text-decoration: none;

            border-collapse: collapse;
            background: $colorFooterBg;

            span {
                display: block;
            }

            &:hover {
                transform: translateY(-$vR);
            }

            &.-prev {
                border-right: 1px solid lighten($colorFooterBg, 10);
            }

            &.-empty {
                &:hover {
                    transform: translateY(0);
                }
            }
        }

        &-direction {
            text-transform: uppercase;

            color: rgba(#fff, .5);

            font-size: $fontTiny;
        }

        &-title {
            margin-top: $vR * 3;

            font-size: $fontBase * 1.2;
        }
    }

    &.-main {
        .footer__post-switcher-direction {
            font-size: $fontMiddle;
        }
    }
}

@media screen and (max-width: 750px) {
    .footer {

        &__post-switcher {

            &-link {
                padding: $vR * 3;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {

        &__post-switcher {

            &-link {
                padding: $vR * 2;
            }
        }
    }
}
