.code,
.highlight {
    font-size: $fontCode;

    margin: $blockSepSpace - 1 auto $blockSepSpace auto;
    padding: $vR * 2;

    white-space: pre-wrap;
    word-wrap: break-word;

    background: $colorCodeBG;

    code {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .code,
    .highlight {
        margin: $blockSepSpace / $blockSepSpaceDivider - 1 auto $blockSepSpace / $blockSepSpaceDivider auto;
    }
}
