.b-product-gallery-item {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 296px;
    height: 296px;
    border: 2px solid #fff;

    img {
        @include transition(transform 1s);
    }

    &:hover {
        img {
            @include transform(scale(1.4));
        }
    }
} /* .b-product-gallery-item */