// Quote
//
// markup:
// <blockquote class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit obcaecati distinctio voluptas, vel porro perferendis, incidunt sapiente reiciendis, libero minus ipsa!</blockquote>
//
// sg-wrapper:
// <div class="main-wrp">
//   <div class="post -no-padding-top">
//      <sg-wrapper-content/>
//   </div>
// </div>
//
// Styleguide 4.4

.quote, .post blockquote {
    margin: $vR * 8 auto $vR * 8 auto;

    text-align: center;

    color: $colorLightText;

    font-size: $fontBase * 1.2;
    font-style: italic;

    &.-before-header {
        margin-bottom: $vR * 5;
    }
}
