<div class="footer clearfix">

    <div class="footer__post-switcher">
        <a href="#" class="footer__post-switcher-link -prev">
            <span class="footer__post-switcher-direction">Previous post</span>
            <span class="footer__post-switcher-title">Знакомимся с Meteor</span>
        </a>
        <a href="#" class="footer__post-switcher-link -next">
            <span class="footer__post-switcher-direction">Next post</span>
            <span class="footer__post-switcher-title">Firefox и position: relative на ячейки таблицы</span>
        </a>
    </div>

    {% include "_footer-common.html" %}
</div>
