<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Post Page</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  {% include "../../../src/layout/components/_header/_header-with-img.html" %}

  <div class="main-cont">

    <article>

      <section class="section -narrow">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti <a href="#">corporis</a>, numquam temporibus, unde sed sapiente quas non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
      </section>

      {% include "../../../src/layout/components/_quote/_quote.html" %}

      <section class="section -narrow">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti corporis, numquam temporibus, <b>unde sed sapiente quas</b> non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
        <p>Aliquid harum voluptatum eum cum, <i>quisquam alias unde ducimus</i>, labore accusantium voluptate maxime quam quasi aperiam perspiciatis. Perferendis quam quo minima error quasi dolorum deleniti soluta, animi sint. Consectetur, harum.</p>
      </section>

      {% include "../../../src/layout/components/_img/_img-full-width.html" %}

      <section class="section -narrow">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti corporis, numquam temporibus, unde sed sapiente quas non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
        <p>Aliquid harum voluptatum eum cum, quisquam alias unde ducimus, labore accusantium voluptate maxime quam quasi aperiam perspiciatis. Perferendis quam quo minima error quasi dolorum deleniti soluta, animi sint. Consectetur, harum.</p>
      </section>

      {% include "../../../src/layout/components/_img/_img-with-desc.html" %}

      <section class="section -narrow">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti corporis, numquam temporibus, unde sed sapiente quas non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
        <p>Aliquid harum voluptatum eum cum, quisquam alias unde ducimus, labore accusantium voluptate maxime quam quasi aperiam perspiciatis. Perferendis quam quo minima error quasi dolorum deleniti soluta, animi sint. Consectetur, harum.</p>
      </section>

      <hr class="section-divider">

      <section class="section -narrow">
        <h2 class="title -size-2">What is Charted?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti corporis, numquam temporibus, unde sed sapiente quas non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
      </section>

      {% include "../../../src/layout/components/_code/_code.html" %}

      <section class="section -narrow">
        <p>Aliquid harum voluptatum eum cum, quisquam alias unde ducimus, labore accusantium voluptate maxime quam quasi aperiam perspiciatis. Perferendis quam quo minima error quasi dolorum deleniti soluta, animi sint. Consectetur, harum.</p>
        <p class="section__notice">Iste delectus accusamus laborum consectetur cupiditate consequatur nemo, ratione eos aspernatur itaque, iusto, ut, rerum non totam nisi suscipit! Rerum accusamus voluptatem odio repellendus saepe natus, tempora, reiciendis ducimus ut.</p>
        <p>Est consequuntur impedit libero, eligendi omnis molestiae possimus, illum ad cum obcaecati repellat autem inventore eius provident. Corporis at molestiae quos, dolore qui perspiciatis, et cumque quod nulla excepturi quia?</p>
      </section>

      <hr class="section-divider">

      <section class="section -narrow">
        <h3 class="title -size-3">What is Charted?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, maxime quam saepe neque provident id velit! Eos nam quaerat, maiores quae, laudantium omnis, quo aut facere earum aspernatur a consequatur!</p>
        <p>Corrupti corporis, numquam temporibus, unde sed sapiente quas non odio reprehenderit quidem consectetur deleniti delectus iste quasi ex consequuntur necessitatibus ipsa? Maiores suscipit ratione sequi, veniam ex libero cum odit?</p>
        <p>Aliquid harum voluptatum eum cum, quisquam alias unde ducimus, labore accusantium voluptate maxime quam quasi aperiam perspiciatis. Perferendis quam quo minima error quasi dolorum deleniti soluta, animi sint. Consectetur, harum.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Iste delectus accusamus laborum consectetur</li>
          <li>Est consequuntur impedit libero</li>
          <li>Aliquid harum voluptatum eum cum</li>
          <li>Corrupti corporis, numquam temporibus</li>
        </ul>
        <p>Iste delectus accusamus laborum consectetur cupiditate consequatur nemo, ratione eos aspernatur itaque, iusto, ut, rerum non totam nisi suscipit! Rerum accusamus voluptatem odio repellendus saepe natus, tempora, reiciendis ducimus ut.</p>

        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Iste delectus accusamus laborum consectetur</li>
          <li>Est consequuntur impedit libero</li>
          <li>Aliquid harum voluptatum eum cum</li>
          <li>Corrupti corporis, numquam temporibus</li>
        </ol>

        <p>Est consequuntur impedit libero, eligendi omnis molestiae possimus, illum ad cum obcaecati repellat autem inventore eius provident. Corporis at molestiae quos, dolore qui perspiciatis, et cumque quod nulla excepturi quia?</p>
      </section>

    </article>

  </div>
  <!-- /.main-cont -->

  {% include "../../../src/layout/components/_footer/_footer-post.html" %}

</body>

</html>
