<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tag Page</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  {% include '../../../src/layout/components/_search/_search.html' %}

  <div class="page-row">
    {% include "../../../src/layout/components/_header/_header-tag.html" %}
  </div>

  <div class="page-row-expanded">
    <div class="main-cont">
      Small content...
    </div>
  </div>

  <div class="page-row">
    {% include "../../../src/layout/components/_footer/_footer-without-nav.html" %}
  </div>

  <script src="/js/page__main.js"></script>
</body>
</html>
