<div class="page-row">
    <header class="header clearfix -post -no-desc">

        <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>

        <div class="header__top clearfix">
            <a href="/" class="header__logo">
                <img src="/img/avatar.png" alt="" class="header__logo-img">
            </a>

            <%- partial('_partial/nav') %>

            <%- partial('_partial/header/header__contacts') %>
        </div>

        <div class="header__content">
            <h1 class="title -size-1 header__tag-title">#<%= page.tag %></h1>
        </div>
    </header>
</div>
