---
layout: layout
---
<%- partial('header/header_tag') %>

<div class="posts-list">
<ul><% getFiles({ tags: { '$has': document.tag } }, { date: -1 }).toJSON().forEach(function(file) { %>
	<%- partial('post-list/' + file.type, { post: file }) %>
<% }) %></ul>
</div>

<%- partial('footer/footer_simple') %>
