---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import { getWritingsByYear } from "../utils/writings";

const posts = await getCollection("blog");
const writings = getWritingsByYear(posts);
---

<Layout title="Personal Website | Stanislav Sysoev">
  <!-- About Section -->
  <main class="about-container">
    <section class="about">
      <h1 class="about__title">
        <span class="inline-with-bg"><b>Stanislav</b> Sysoev.</span>
      </h1>
      <p class="about__text">
        <span class="inline-with-bg">
          <b>Front-End&nbsp;developer.</b> Passioned about Programming&nbsp;Languages,
          JavaScript, Open&nbsp;Source and Developer&nbsp;Tools. Currently&nbsp;working&nbsp;at
          <a href="https://atlassian.com">Atlassian</a>.
        </span>
      </p>
      <ul class="about__contacts">
        <li class="about__contact-item">
          <a href="mailto:d4rkr00t@gmail.com">email</a>
        </li>
        <li class="about__contact-item">
          <a href="https://www.linkedin.com/in/stanislav-sysoev-15546236/"
            >resume</a
          >
        </li>
        <li class="about__contact-item">
          <a href="https://github.com/d4rkr00t">github</a>
        </li>
        <li class="about__contact-item">
          <a href="https://twitter.com/d4rkr00t">twitter</a>
        </li>
        <li class="about__contact-item">
          <a href="https://soundcloud.com/s7at1c/tracks">music</a>
        </li>
      </ul>
    </section>
  </main>
  <!-- END About Section -->

  <!-- Recent Posts -->
  <section class="generic-section" role="navigation">
    <h2 class="generic-section__title">Writings:</h2>
    <section class="blog-posts-list">
      {
        writings.map((group) => {
          return (
            <section class="blog-posts-list__group">
              <div class="blog-posts-list__year">
                <h3>{group.year}</h3>
              </div>
              <ul class="blog-posts-list__list">
                {group.writings.map((post) => {
                  return (
                    <li>
                      <a href={`/blog/${post.slug}`}>{post.title}</a>
                    </li>
                  );
                })}
              </ul>
            </section>
          );
        })
      }
    </section>
  </section>
</Layout>
<!-- END Recent Posts -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9621040-14"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-9621040-14");
</script>
