---
title: 'Мысли в статике'
layout: "layout"
isPaged: true
pagedCollection: 'posts'
pageSize: 10
---

<%- partial('header/header_main') %>

<div class="posts-list">
    <% getPageCollection('posts').toJSON().forEach(function(post) { %>
        <%- partial('post-list/' + post.type, { post: post }) %>
    <% }); %>
</div>

<%- partial('footer/footer') %>
