---
title: 'Мысли в статике'
layout: "layout"
isPaged: true
pagedCollection: 'posts'
pageSize: 12
---

<%- partial('header/header_main') %>

<div class="main-cont">
    <div class="posts-list">
        <% getPageCollection('posts').toJSON().forEach(function(post) { %>
            <%- partial('post-list/' + post.type, { post: post }) %>
        <% }); %>
    </div>
</div>

<%- partial('footer/footer') %>
