.nav
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;

    &__item
    {
        display: inline-block;

        margin-left: 12px;

        &:first-child
        {
            margin-left: 0;
        }

        &-link, &-link:visited
        {
            text-decoration: none;
            text-transform: uppercase;

            color: rgba(#fff, .4);

            font-family: $fontTitle;
            font-size: $fontTiniest;
            font-weight: normal;

            &:hover
            {
                text-decoration: underline;
            }
        }

        &.-active
        {
            .nav__item-link, .nav__item-link:visited
            {
                color: $colorLinkHover;
            }
        }
    }
}
