<div class="posts-list">

    <div class="posts-list__item">
        <a href="#" class="posts-list__item-title title -size-2">Знакомимся с Meteor</a>
        <div class="posts-list__item-info">
            <span class="posts-list__item-info-date">21th DECEMBER 2014</span>
            <ul class="posts-list__item-info-tags">
                <li><a href="#">#javascript</a></li>
                <li><a href="#">#react</a></li>
                <li><a href="#">#d3</a></li>
                <li><a href="#">#dataviz</a></li>
            </ul>
        </div>
        <div class="posts-list__item-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nemo et, optio debitis aut praesentium ducimus similique labore tempore ullam molestias eum, excepturi eligendi omnis est maiores. Illo, assumenda, deleniti!
        </div>
    </div>

    <div class="posts-list__item">
        <a href="#" class="posts-list__item-title title -size-2">Firefox и position: relative на ячейки таблицы</a>
        <div class="posts-list__item-info">
            <span class="posts-list__item-info-date">21th DECEMBER 2014</span>
            <ul class="posts-list__item-info-tags">
                <li><a href="#">#javascript</a></li>
                <li><a href="#">#react</a></li>
                <li><a href="#">#d3</a></li>
                <li><a href="#">#dataviz</a></li>
            </ul>
        </div>
        <div class="posts-list__item-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nemo et, optio debitis aut praesentium ducimus similique labore tempore ullam molestias eum, excepturi eligendi omnis est maiores. Illo, assumenda, deleniti!
        </div>
    </div>

    <!-- Firefox и position: relative на ячейки таблицы

    Лохотрон от MVideo

    Проблемы CSS. Часть 2 -->
</div>
