<header class="header clearfix -post -no-desc">

    <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>

    <div class="header__top clearfix">
        <a href="/" class="header__logo">
            <img src="/img/avatar.png" alt="" class="header__logo-img">
        </a>

        {% include "../_nav/_nav.html" %}

        {% include "_header__contacts.html" %}
    </div>

    <div class="header__content">

        <h1 class="title -size-1 header__tag-title">#javascript</h1>

    </div>

</header>
