/**
*
* Global
*
**/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    letter-spacing: 0.01rem;

    color: $colorText;

    font-family: $fontDefault;
    font-size: $fontBase;
    font-weight: 300;
    line-height: $lineHeight;
}

.main-cont {
    min-width: $mainContMinWidth;
    max-width: $mainContMaxWidth;
    margin: 0 auto;
    padding: 0 27px;
}

a, a:visited {
    transition: color .3s;

    color: $colorLink;

    &:hover {
        text-decoration: none;

        color: $colorLinkHover;
    }
}
