/**
*
* Global
*
**/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

body {
    font-family: $fontDefault;
    font-size: $fontBase;
    font-weight: 300;
    line-height: $lineHeight;

    display: table;

    width: 100%;

    letter-spacing: .01rem;

    color: $colorText;
}

.main-cont {
    min-width: $mainContMinWidth;
    max-width: $mainContMaxWidth;
    margin: 0 auto;
    padding: 0 27px;
}

.page-row {
    display: table-row;

    height: 1px;
}

.page-row-expanded {
    display: table-row;

    height: 100%;
}

a,
a:visited {
    transition: color .3s;

    color: $colorLink;

    &:hover {
        text-decoration: none;

        color: $colorLinkHover;
    }
}
