.section {
    letter-spacing: 0.159999996423721px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &.-narrow {
        max-width: $narrowContMaxWidth;
        margin: 0 auto;
    }

    &.-bottom
    {
        border-top: 1px solid rgba(0, 0, 0, .15);
        margin-top: $vR * 8;
    }
}

.section-divider {
    display: block;

    width: 144px;
    margin: $vR * 8 - 1 auto $vR * 8 - 2 auto;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .15);
}
