@mixin title {
    margin-top: $vR * 5;
    margin-bottom: $vR / 2 - 1;

    letter-spacing: -0.02em;

    font-family: $fontTitle;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
}

.title.-size-1, .post h1 {
    margin-left: -3px;

    letter-spacing: 0.01em;

    font-size: $fontH1;

    @include title;
}

.title.-size-2, .post h2 {
    margin-left: -1.8px;

    font-size: $fontH2;

    @include title;
}

.title.-size-3, .post h3 {
    margin-left: -1.6px;
    padding-top: 3px;

    color: $colorSubTitle;

    font-size: $fontH3;
    font-weight: 300;

    @include title;
}

@media screen and (max-width: 520px) {
    $divider: 1.1;

    .title.-size-1, .post h1 {
        margin-left: -3px;

        font-size: $fontH1 / $divider;
    }

    .title.-size-2, .post h2 {
        margin-left: -1.8px;

        font-size: $fontH2 / $divider;
    }

    .title.-size-3, .post h3 {
        margin-left: -1.6px;

        font-size: $fontH3 / $divider;
    }
}
