.title {
    font-family: $fontTitle;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin-top: $vR * 5;
    margin-bottom: $vR / 2;

    &.-size-1 {
        font-size: $fontBase * 2.7272727;
        margin-left: -3px;
        letter-spacing: 0.01em;
    }

    &.-size-2 {
        font-size: $fontBase * 1.6363636;
        margin-left: -1.8px;
    }

    &.-size-3 {
        color: $colorSubTitle;
        font-size: $fontBase * 1.4545454;
        font-weight: 300;
        margin-left: -1.6px;
    }
}
