/**
 * FONT
 */
$fontDefault: Georgia, Cambria, 'Times New Roman', Times, serif;
$fontTitle: 'Helvetica Neue' Helvetica Arial sans-serif;

$fontBase: 21px;
$fontMiddle: 18px;
$fontSmall: 16px;
$fontTiny: 14px;
$fontTiniest: 12px;
$fontCode: 16px;
$vR: 8px;
$lineHeight: $vR * 4; // 32

/**
 * COLORS
 */
$golden: #F7C04F;
$fuscousGrey: #3C373D;
$liver: #514753;

$colorText: darken(#69606B, 3);
$colorLightText: #69606B;
$colorSubTitle: rgba(0, 0, 0, .44);

$colorLink: $colorLightText;
$colorLinkHover: $golden;

$colorCodeBG: #f5f2f0;

$colorFooterBg: $fuscousGrey;

/**
 * CONT
 */
$mainContMaxWidth: 1120px;
$mainContMinWidth: 480px;
$narrowContMaxWidth: 700px;
