<section class="img">
    <div class="img__img-cont">
        <a class="lightbox-target" href="/img/img1.jpg" data-size="1920x1200" data-desc="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa ipsum quia nam, dicta saepe mollitia assumenda placeat aliquam corporis, recusandae id tenetur architecto?"><img src="/img/img1.jpg" alt=""></a>
    </div>
    <div class="img__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsa ipsum quia nam, dicta saepe mollitia assumenda placeat aliquam corporis, recusandae id tenetur architecto?
    </div>
</section>
