<header class="header clearfix">

    <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>

    <div class="header__top clearfix">
        {% include "../_nav/_nav.html" %}
    </div>

    <div class="header__content">

        <a href="/" class="header__logo">
            <img src="/img/avatar.png" alt="" class="header__logo-img">
            <span class="header__logo-text">SYSOEV</span>
        </a>

        <div class="header__intro">
            <div class="header__intro-main">FRONTEND DEVELOPER</div>
            <div class="header__intro-sep"></div>
            <div class="header__intro-small">
                Frontend, NodeJS, Data Vizualization, Music, etc.
            </div>
            <div class="header__place">
                <i class="icon-ios-location"></i> Saint-Petersburg
            </div>
            <div class="header__intro-sep"></div>
            <ul class="header__contacts">
                <li><a href="https://github.com/d4rkr00t"><i class="icon-social-github"></i></a></li>
                <li><a href="https://twitter.com/d4rkr00t"><i class="icon-social-twitter-outline"></i></a></li>
                <li><a href="mailto:d4rkr00t@gmail.com"><i class="icon-ios-email-outline"></i></a></li>
            </ul>
        </div>

    </div>

</header>
