.header {
    position: relative;

    min-width: $mainContMinWidth;
    margin-bottom: 0;
    padding: 0 0 $vR * 5;

    background: darken($liver, 12);
    background-size: cover;

    &__bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: .07;
        background: $liver no-repeat 50% 50%;
        background-size: cover;
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    &__logo {
        display: block;

        width: $vR * 14;
        margin: 0 auto $vR * 7;

        text-align: center;
        text-decoration: none;

        font-family: $fontTitle;
        font-size: 21px;
        font-weight: 300;

        &, &:visited {
            color: rgba(#fff, .5);
        }

        &:hover, &:hover:visited {
            color: $golden;
        }

        &-img {
            width: $vR * 9;
            margin-bottom: $vR;

            border-radius: 50%;
        }

        &-text {
            letter-spacing: 1px;
        }
    }

    &__intro {
        text-align: center;

        color: rgba(#fff, .5);

        font-family: $fontTitle;
        font-size: $fontBase * .8;

        &-main {
            padding-bottom: 6px;

            color: rgba(#fff, .7);

            font-size: $fontBase * 1.5;
            font-weight: 500;
        }

        &-sep {
            position: relative;

            width: 100px;
            margin: $vR * 4 + 2 auto $vR * 4;

            border-top: 2px solid rgba(#fff, .2);

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;

                display: block;

                width: 4px;
                height: 13px;
                margin-top: -7px;
                margin-left: -2px;

                content: '';
                transform: rotate(45deg);

                border-right: 1px solid rgba(#fff, .3);
                border-left: 1px solid rgba(#fff, .3);
            }
        }
    }

    &__place {
        margin-top: $vR;
    }

    &__contacts {
        margin: $vR * 3 0 0 0;
        padding: 0;

        list-style: none;

        font-size: $fontBase;

        li {
            display: inline-block;

            a {
                text-decoration: none;

                color: rgba(#fff, .5);

                font-size: $fontBase * 1.2;

                &:hover {
                    color: $golden;
                }

                i {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    &__top {
        position: relative;
        z-index: 2;

        padding: $vR * 2 $vR * 2 $vR * 3;

        .header__logo {
            position: relative;

            display: inline-block;

            width: $vR * 5;
            height: $vR * 5;
            margin-right: 27px;
            margin-bottom: 0;

            &:after {
                position: absolute;
                top: 0;
                right: -18px;

                height: $vR * 5;

                content: '';

                border-right: 1px solid rgba(#fff, .3);
            }

            img {
                width: $vR * 5;
            }
        }

        .header__contacts {
            position: relative;
            top: -3px;

            display: inline-block;

            margin: 0;

            font-size: $fontSmall;
        }
    }

    &__tag-title {
        text-transform: uppercase;
    }

    .nav {
        top: 1px;

        float: right;
    }
}


.header.-post {
    position: relative;

    padding: 0;

    .header__content {
        position: relative;

        max-width: $mainContMaxWidth;
        margin: 0 auto;
        padding: $vR * 10 21px $vR * 14 + 6;

        text-align: center;

        color: rgba(#fff, .8);
        text-shadow: 0 0 1px rgba($colorText, .1);

        .title {
            margin-top: 0;
            margin-bottom: $vR * 5 - 3;

            word-break: break-word;
        }

        &-desc {
            padding-bottom: $vR;
        }
    }

    .header__post-info {
        padding-top: $vR - 2;

        text-transform: uppercase;

        color: rgba(#fff, .5);

        font-family: $fontTitle;
        font-size: $fontTiny;
        font-weight: normal;

        &-date {
            margin-right: 16px;

            &:after {
                position: absolute;

                display: inline-block;

                box-sizing: border-box;
                width: 16px;
                margin-right: 0;
                padding-top: 0;
                padding-right: 0;

                content: '•';
                text-align: right;

                font-size: $fontBase * 1.3;
            }
        }

        &-tags {
            position: relative;

            display: inline-block;

            margin: 0;
            padding: 0;

            list-style: none;

            li {
                display: inline-block;

                margin: 0 4px;

                a, a:visited {
                    color: rgba(#fff, .5);

                    &:hover {
                        color: $colorLinkHover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .header.-post {

        &__top {

            .header__contacts {
                top: 3px;

                float: right;
            }

            .nav {
                display: block;
                float: none;

                margin-top: $vR * 3;

                text-align: center;
            }
        }

        &__content {
            padding-top: $vR * 6;
            padding-bottom: $vR * 9 + 6;
        }
    }
}

@media screen and (max-width: 520px) {
    .header.-post {

        .header__content {

            .title {
                margin-bottom: $vR * 5;

                font-size: $fontBase * 1.7;
            }

            &-desc {
                padding-bottom: $vR;
            }
        }
    }
}
