<header class="header clearfix -post -with-image">

    <div class="header__bg" style="background-image: url(/img/img2.jpg)"></div>

    <div class="header__top clearfix">
        <a href="/" class="header__logo">
            <img src="/img/avatar.png" alt="" class="header__logo-img">
        </a>

        {% include "../_nav/_nav.html" %}

        <ul class="header__contacts">
            <li><a href="https://github.com/d4rkr00t"><i class="icon-social-github"></i></a></li>
            <li><a href="https://twitter.com/d4rkr00t"><i class="icon-social-twitter-outline"></i></a></li>
            <li><a href="mailto:d4rkr00t@gmail.com"><i class="icon-ios-email-outline"></i></a></li>
        </ul>
    </div>

    <div class="header__content">

        <h1 class="title -size-1">What is Charted?</h1>
        <p class="header__content-desc">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum placeat repudiandae corporis, et similique dolores at perspiciatis expedita quibusdam, voluptate consectetur qui! Illum sed tempora consectetur recusandae accusamus, dolor quia!
        </p>

        <div class="header__intro-sep"></div>

        <div class="header__post-info">
            <span class="header__post-info-date">21th DECEMBER 2014</span>
            <ul class="header__post-info-tags">
                <li><a href="#">#javascript</a></li>
                <li><a href="#">#react</a></li>
                <li><a href="#">#d3</a></li>
                <li><a href="#">#dataviz</a></li>
            </ul>
        </div>

    </div>

</header>
