* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
    font-size: 13px;

    height: 100%;
    margin: 0;
    padding: 0;

    text-rendering: optimizeLegibility;
}

a,
a:visited {
    transition: color .2s ease-in;
    text-decoration: underline;

    color: inherit;
}

a:hover {
    color: black;
}

.logo {
    display: block;

    width: 47px;
    height: 18px;

    background: url('./assets/logo.svg') no-repeat 50% 50%;
    background-size: 100% 100%;
}

.logo-container {
    display: block;

    padding: 0 2rem;
}

.container {
    position: relative;

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 3rem 4rem;
}

.main-info {
    position: absolute;
    top: 50%;

    padding: 2rem;

    transform: translateY(-50%);
}

.main-info__title {
    font-size: 3.5rem;
    font-weight: 100;

    margin-bottom: 1.2rem;
}

.main-info__title b {
    font-weight: 400;
}

.main-info__text {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.7rem;

    max-width: 500px;
    margin-bottom: 3.5rem;

    color: #616161;
}

.main-info__text b {
    font-weight: 500;
}

.main-info__contacts {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-info__contact-item {
    display: inline-block;

    margin-right: 1rem;
}

.icon {
    display: inline-block;

    width: 2rem;
    height: 2rem;

    transition: opacity .2s ease-in;
    vertical-align: middle;

    opacity: .7;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    will-change: opacity;
}

.icon:hover {
    opacity: 1;
}

.icon.-email {
    background-image: url(assets/icons/email.svg);
}

.icon.-linkedin {
    background-image: url(assets/icons/linkedin.svg);
}

.icon.-github {
    background-image: url(assets/icons/github.svg);
}

.icon.-twitter {
    background-image: url(assets/icons/twitter.svg);
}

.icon.-medium {
    background-image: url(assets/icons/medium.svg);
}

.icon.-soundcloud {
    background-image: url(assets/icons/soundcloud.svg);
}

@media screen and (max-width: 619px) {
    .container {
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 519px) {
    .container {
        padding: 3rem 0;
    }
}

@media screen and (max-height: 579px) {
    .main-info {
        margin-top: 2em;
    }
}
