.post {
    letter-spacing: 0.159999996423721px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    word-break: break-word;

    padding-top: $vR * 10;

    :first-child {
        margin-top: 0;
    }

    p, ul, ol, h1, h2, h3, h4, h5, h6 {
        max-width: $narrowContMaxWidth;
        margin-right: auto;
        margin-left: auto;
    }

    p {
        &.-notice {
            position: relative;
            left: -27px;

            display: block;

            padding: 0 0 0 24px;

            border-left: 3px solid rgba($fuscousGrey, .4);
        }
    }

    ul, ol {
        margin-bottom: ($vR * 4) - 1;
        padding: 0;

        list-style: none;
        list-style-image: none;

        counter-reset: post;

        li {
            margin-bottom: 12px;
            margin-left: 30px;

            font-size: $fontBase;
        }
    }

    ul li:before {
        position: absolute;

        display: inline-block;

        box-sizing: border-box;
        width: 58px;
        margin-left: -58px;
        padding-right: 12px;

        content: '•';
        text-align: right;

        font-size: $fontBase;
    }

    ol li:before {
        position: absolute;

        display: inline-block;

        box-sizing: border-box;
        width: 58px;
        margin-left: -58px;
        padding-right: 12px;

        content: counter(post) ".";
        counter-increment: post;
        text-align: right;
    }

    h3 + ul, h3 + ol {
        margin-top: $vR * 3;
    }

    h3 + h4, h3 + h4 {
        margin-top: $vR;
    }

    hr {
        display: block;

        width: 144px;
        margin: $blockSepSpace - 1 auto $blockSepSpace - 2 auto;

        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .15);
    }
}
