---
import "./styles.css";

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{title}</title>
    <link rel="icon" sizes="256x256" href="/favicon_256.png" />
    <link rel="apple-touch-icon" href="/favicon_256.png" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-9621040-14"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-9621040-14");
    </script>
  </body>
</html>
