// Header
//
// Styleguide 2.0

// Header Main
//
// markup:
//<header class="header clearfix">
//    <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>
//    <div class="header__top clearfix">
//        <ul class="nav">
//            <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//            <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon icon-ios-search-strong"></i></a></li>
//        </ul>
//    </div>
//    <div class="header__content">
//        <a href="/" class="header__logo">
//            <img src="/img/avatar.png" alt="" class="header__logo-img">
//            <span class="header__logo-text">SYSOEV</span>
//        </a>
//        <div class="header__intro">
//            <div class="header__intro-main">FRONTEND DEVELOPER</div>
//            <div class="header__intro-sep"></div>
//            <div class="header__intro-small">
//                Frontend, NodeJS, Data Vizualization, Music, etc.
//            </div>
//            <div class="header__place">
//                <i class="icon-ios-location"></i> Saint-Petersburg
//            </div>
//            <div class="header__intro-sep"></div>
//            <ul class="header__contacts">
//               <li><a href="https://github.com/d4rkr00t"><i class="icon-social-github"></i></a></li>
//               <li><a href="https://twitter.com/d4rkr00t"><i class="icon-social-twitter-outline"></i></a></li>
//               <li><a href="mailto:d4rkr00t@gmail.com"><i class="icon-ios-email-outline"></i></a></li>
//               <li>
//                  <a href="https://www.linkedin.com/profile/view?id=126534737">
//                      <i class="icon-social-linkedin-outline"></i>
//                  </a>
//               </li>
//            </ul>
//        </div>
//    </div>
//</header>
//
// sg-wrapper:
// <div class="main-wrp">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.1

// Header Tag
//
// markup:
//<header class="header clearfix -post -no-desc">
//    <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>
//    <div class="header__top clearfix">
//        <a href="/" class="header__logo">
//            <img src="/img/avatar.png" alt="" class="header__logo-img">
//        </a>
//        <ul class="nav">
//            <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//            <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon //icon-ios-search-strong"></i></a></li>
//        </ul>
//        <ul class="header__contacts">
//            <li><a href="https://github.com/d4rkr00t"><i class="icon-social-github"></i></a></li>
//            <li><a href="https://twitter.com/d4rkr00t"><i class="icon-social-twitter-outline"></i></a></li>
//            <li><a href="mailto:d4rkr00t@gmail.com"><i class="icon-ios-email-outline"></i></a></li>
//            <li><a href="https://www.linkedin.com/profile/view?id=126534737"><i class="icon-social-linkedin-outline"></i></a></li>
//        </ul>
//    </div>
//    <div class="header__content">
//        <h1 class="title -size-1 header__tag-title">#javascript</h1>
//    </div>
//</header>
//
// sg-wrapper:
// <div class="main-wrp">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.2

// Header Post
//
// markup:
//<header class="header clearfix -post">
//    <div class="header__bg" style="background-image: url(/img/header.jpg)"></div>
//    <div class="header__top clearfix">
//        <a href="/" class="header__logo">
//            <img src="/img/avatar.png" alt="" class="header__logo-img">
//        </a>
//        <ul class="header__contacts">
//            <li><a href="https://github.com/d4rkr00t"><i class="icon-social-github"></i></a></li>
//            <li><a href="https://twitter.com/d4rkr00t"><i class="icon-social-twitter-outline"></i></a></li>
//            <li><a href="mailto:d4rkr00t@gmail.com"><i class="icon-ios-email-outline"></i></a></li>
//            <li><a href="https://www.linkedin.com/profile/view?id=126534737"><i class="icon-social-linkedin-outline"></i></a></li>
//        </ul>
//        <ul class="nav">
//            <li class="nav__item -active"><a href="#" class="nav__item-link">blog</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">about</a></li>
//            <li class="nav__item"><a href="#" class="nav__item-link">projects</a></li>
//            <li class="nav__item -icon search-trigger"><a href="#" class="nav__item-link"><i class="icon icon-ios-search-strong"></i></a></li>
//        </ul>
//    </div>
//    <div class="header__content">
//        <h1 class="title -size-1">What is Charted?</h1>
//        <p class="header__content-desc">
//        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum placeat repudiandae corporis, et similique dolores at perspiciatis expedita quibusdam, voluptate consectetur qui! Illum sed tempora consectetur recusandae accusamus, dolor quia!
//        </p>
//        <div class="header__intro-sep"></div>
//        <div class="header__post-info">
//            <span class="header__post-info-date">21th DECEMBER 2014</span>
//            <ul class="header__post-info-tags">
//                <li><a href="#">#javascript</a></li>
//                <li><a href="#">#react</a></li>
//                <li><a href="#">#d3</a></li>
//                <li><a href="#">#dataviz</a></li>
//            </ul>
//        </div>
//    </div>
//</header>
//
// sg-wrapper:
// <div class="main-wrp">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 2.3
.header {
    position: relative;

    min-width: $mainContMinWidth;
    margin-bottom: 0;
    padding: 0 0 $vR * 5;

    background: darken($liver, 12);
    background-size: cover;

    &__bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: .07;
        background: $liver no-repeat 50% 50%;
        background-size: cover;
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    &__logo {
        display: block;

        width: $vR * 14;
        margin: 0 auto $vR * 7;

        text-align: center;
        text-decoration: none;

        font-family: $fontTitle;
        font-size: 21px;
        font-weight: 300;

        &, &:visited {
            color: rgba(#fff, .5);
        }

        &:hover, &:hover:visited {
            color: $golden;
        }

        &-img {
            width: $vR * 9;
            margin-bottom: $vR;

            border-radius: 50%;
        }

        &-text {
            letter-spacing: 1px;
        }
    }

    &__intro {
        text-align: center;

        color: rgba(#fff, .5);

        font-family: $fontTitle;
        font-size: $fontBase * .8;

        &-main {
            padding-bottom: 6px;

            color: rgba(#fff, .7);

            font-size: $fontBase * 1.5;
            font-weight: 500;
        }

        &-sep {
            position: relative;

            width: 100px;
            margin: $vR * 4 + 2 auto $vR * 4;

            border-top: 2px solid rgba(#fff, .2);

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;

                display: block;

                width: 4px;
                height: 13px;
                margin-top: -7px;
                margin-left: -2px;

                content: '';
                transform: rotate(45deg);

                border-right: 1px solid rgba(#fff, .3);
                border-left: 1px solid rgba(#fff, .3);
            }
        }
    }

    &__place {
        margin-top: $vR;
    }

    &__contacts {
        margin: $vR * 3 0 0 0;
        padding: 0;

        list-style: none;

        font-size: $fontBase;

        li {
            display: inline-block;

            a {
                text-decoration: none;

                color: rgba(#fff, .5);

                font-size: $fontBase * 1.2;

                &:hover {
                    color: $golden;
                }

                i {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    &__top {
        position: relative;
        z-index: 2;

        padding: $vR * 2 $vR * 2 $vR * 3;

        .header__logo {
            position: relative;

            display: inline-block;

            width: $vR * 5;
            height: $vR * 5;
            margin-right: 27px;
            margin-bottom: 0;

            &:after {
                position: absolute;
                top: 0;
                right: -18px;

                height: $vR * 5;

                content: '';

                border-right: 1px solid rgba(#fff, .3);
            }

            img {
                width: $vR * 5;
            }
        }

        .header__contacts {
            position: relative;
            top: -3px;

            display: inline-block;

            margin: 0;

            font-size: $fontSmall;
        }
    }

    &__tag-title {
        text-transform: uppercase;
    }

    .nav {
        top: 1px;

        float: right;
    }
}


.header.-post {
    position: relative;

    padding: 0;

    .header__content {
        position: relative;

        max-width: $mainContMaxWidth;
        margin: 0 auto;
        padding: $vR * 10 21px $vR * 14 + 6;

        text-align: center;

        color: rgba(#fff, .8);
        text-shadow: 0 0 1px rgba($colorText, .1);

        .title {
            margin-top: 0;
            margin-bottom: $vR * 5 - 3;

            word-break: break-word;
        }

        &-desc {
            padding-bottom: $vR;
        }
    }

    .header__post-info {
        padding-top: $vR - 2;

        text-transform: uppercase;

        color: rgba(#fff, .5);

        font-family: $fontTitle;
        font-size: $fontTiny;
        font-weight: normal;

        &-date {
            margin-right: 16px;

            &:after {
                position: absolute;

                display: inline-block;

                box-sizing: border-box;
                width: 16px;
                margin-right: 0;
                padding-top: 0;
                padding-right: 0;

                content: '•';
                text-align: right;

                font-size: $fontBase * 1.3;
            }
        }

        &-tags {
            position: relative;

            display: inline-block;

            margin: 0;
            padding: 0;

            list-style: none;

            li {
                display: inline-block;

                margin: 0 4px;

                a, a:visited {
                    color: rgba(#fff, .5);

                    &:hover {
                        color: $colorLinkHover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .header.-post {

        &__top {

            .header__contacts {
                top: 3px;

                float: right;
            }

            .nav {
                display: block;
                float: none;

                margin-top: $vR * 3;

                text-align: center;
            }
        }

        &__content {
            padding-top: $vR * 6;
            padding-bottom: $vR * 9 + 6;
        }
    }
}

@media screen and (max-width: 520px) {
    .header.-post {

        .header__content {

            .title {
                margin-bottom: $vR * 5;

                font-size: $fontBase * 1.7;
            }

            &-desc {
                padding-bottom: $vR;
            }
        }
    }
}
