<%- partial('_partial/header/header-main') %>

<div class="page-row-expanded">
    <div class="main-cont">
        <div class="posts-list">
            <%- partial('_partial/post-list', {index: true}) %>
        </div>
    </div>
</div>

<%- partial('_partial/footer/footer-main') %>
