<%- partial('_partial/header/header-post') %>
<div class="page-row-expanded">
    <div class="main-cont">
        <article class="post">
            <%- partial('_partial/post', {post: page, index: false}) %>
        </article>
    </div>
</div>

<%- partial('_partial/photoswipe') %>

<%- partial('_partial/footer/footer-post') %>
